%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% @SECTION@
\section{@SECTION@} % {{{
\label{sec:@LABEL@}
\index{@SECTION@|(}

@CURSOR@

\index{@SECTION@|)}
% }}} @SECTION@
